<div class="row">
  <p>This is a simple web application to summarize my recent studies, open source contributions, and knowledge aquisition works.</p>
</div>
<div class="row">

  <app-tilecard id="code" [smImg]="'assets/images/Server-Room.jpg'"  [title]="'Code Repositories'" [description]="'Reusable code in github'" [buttonName]="'Code'" [urlPath]="'code'"></app-tilecard>

  <app-tilecard id="studies" [smImg]="'assets/images/study.jpg'"  [title]="'Studies'" [description]="'Some technology studies'" [buttonName]="'How to'" [urlPath]="'studies'"></app-tilecard>

  <app-tilecard id="tutorial2" [smImg]="'assets/images/classroom.jpg'" [title]="'Tutorials'" [description]="'Set of step by step tutorials'"
  [buttonName]="'Tutorials'" [urlPath]="'tutorials'"></app-tilecard>

  <app-tilecard id="compendium" [smImg]="'assets/images/miska-lib.png'" [title]="'Compendium'" [description]="'Must read articles'"
  [buttonName]="'Compendium'" [urlPath]="'compendium'"></app-tilecard>
</div>
