<div class="header" style="background-image: url(assets/images/top.png)">
  <h4 style="color:white;  text-align: center">&nbsp;{{title}}</h4>&nbsp;
</div>
<div class="container">
  <ul class="breadcrumb">
    <li><a id="home" class="fas fa-home" [routerLink]="['/home']"></a></li>
    <li><a id="about" [routerLink]="['/about']">About</a></li>
    <li><a id="studies" [routerLink]="['/studies']">Studies</a></li>
    <li><a id="code" [routerLink]="['/code']">Code</a></li>
    <li><a id="tutorials" [routerLink]="['/tutorials']">Tutorials</a></li>
    <li><a id="compendium" [routerLink]="['/compendium']">Compendium</a></li>
  </ul>
<div>
