<div class="row">
    <h4>My Studies</h4>
</div>
<div class="row">
<app-tilecard id="Kubernetes" [smImg]="'assets/images/k8s.png'" 
[title]="'Kubernetes'" [subTitle]="'My techno Summary'" [description]="'Kubernetes, networking, services...'"
[urlBack]="'studies'"
[urlMdPath]="'assets/docs/studies/k8s.md'"
[buttonName]="'Open'"></app-tilecard>

<app-tilecard id="Kafka" [smImg]="'assets/images/kafka.jpg'"
[title]="'Kafka'"
[subTitle]="'My Summary'"
[description]="'Kafka on k8s'"
[urlBack]="'studies'"
[urlMdPath]="'assets/docs/studies/kafka.md'"></app-tilecard>

<app-tilecard id="serverless" [smImg]="'assets/images/serverless.png'"
[title]="'Serverless'"
[subTitle]="'Serverless- FaaS Summary'"
[description]="'Kubeless / knative / openwhisk notes...'"
[summary]="'assets/docs/studies/serverless/readme.md'"
[faq]="'assets/docs/studies/serverless/faq.md'"
[urlBack]="'studies'"
[compendium]="'assets/docs/studies/serverless/compendium.md'"
[buttonName]="'Open'">
</app-tilecard>

<app-tilecard id="eda" [smImg]="'assets/images/eda.png'"
[title]="'Event Driven Architecture'"
[subTitle]="'EDA Summary'"
[description]="'Architecture pattern, real time analytics..'"
[summary]="'assets/docs/studies/eda/readme.md'"
[faq]="'assets/docs/studies/eda/faq.md'"
[urlBack]="'studies'"
[compendium]="'assets/docs/studies/eda/compendium.md'"
[buttonName]="'Open'">
</app-tilecard>



<app-tilecard id="istio" [smImg]="'assets/images/istio.png'"
[title]="'Istio'"
[subTitle]="'My istio Summary'"
[description]="'Istio as service mesh..'"
[urlBack]="'studies'"
[urlMdPath]="'assets/docs/studies/istio.md'"></app-tilecard>

<app-tilecard id="ai" [smImg]="'assets/images/ai-icon.png'"
[title]="'Artificial Intelligence'"
[description]="'Sklearn, machine learning, tensorflow'"
[subTitle]="'Summary from books, tutorials...'"
[urlBack]="'studies'"
[urlPath]="'ai'"></app-tilecard>

<app-tilecard id="angular" [smImg]="'assets/images/angular.png'"
[title]="'Angular 6+'"
[description]="'Angular how to summary'"
[subTitle]="'Summary from books, tutorials...'"
[summary]="'assets/docs/studies/angular/angular-'"
[maxNumberFiles]="'1'"
[faq]="'assets/docs/studies/angular/faq.md'"
[urlBack]="'studies'"
[compendium]="'assets/docs/studies/angular/compendium.md'"
[buttonName]="'Open'">
</app-tilecard>


<app-tilecard id="rtanalytics" [smImg]="'assets/images/StreamsApp_50.png'"
[title]="'Stream Analytics'"
[subTitle]="'Summary'"
[maxNumberFiles]="'1'"
[description]="'from getting started to advanced stuffs..'"
[summary]="'assets/docs/studies/streamsa/readme-'"
[faq]="'assets/docs/studies/streamsa/faq.md'"
[urlBack]="'studies'"
[compendium]="'assets/docs/studies/streamsa/compendium.md'"
[buttonName]="'Open'">
</app-tilecard>

<app-tilecard id="vm" [smImg]="'assets/images/red-fedora-hat.png'"
[title]="'VM & RHEL'"
[description]="'Bench of how tos for VM RHEL'"
[subTitle]="'Notes'"
[urlBack]="'studies'"
[urlMdPath]="'assets/docs/studies/rhel-vm.md'"
[buttonName]="'Open'">
</app-tilecard>
</div>
