<h3>Tutorials</h3>
<div class="row">
    <app-tile id="WatsonAssistant" [color]="'#80bfff'" [title]="'Watson Assistant'" [description]="'A tutorial on Watson Assistant with broker code logic'" [buttonName]="'WCS'" [urlPath]="'https://www.ibm.com/cloud/garage/tutorials/watson_conversation_support'"></app-tile>

    <app-tile id="WatsonDiscovery" [color]="'#80bfff'" [title]="'Watson Discovery'" [description]="'A tutorial on Watson Discovery with advanced subject one search and NLP'" [buttonName]="'WDS'" [urlPath]="'https://www.ibm.com/cloud/garage/tutorials/cognitive_discovery'"></app-tile>

    <app-tile id="abrd" [color]="'#80bfff'" [title]="'ABRD'" [description]="'Agile business rule development methodology'" [buttonName]="'Open'" [urlPath]="'https://abrd.github.io'"></app-tile>

    <app-tile id="odmicp" [color]="'#80bfff'" [title]="'ODM on ICP'" [description]="'Install ODM on IBM Cloud Private'" [buttonName]="'Open'" [urlPath]="'https://github.com/ibm-cloud-architecture/refarch-integration/blob/master/docs/odm/README.MD'"></app-tile>

    <app-tile id="twas" [color]="'#80bfff'" [title]="'App deployment tWAS'" [description]="'Install JEE app on WAS'" [buttonName]="'Open'" [urlPath]="'https://github.com/ibm-cloud-architecture/refarch-integration-inventory-dal/tree/master/docs/twas/readme.md'"></app-tile>

    <app-tile id="watson-tone" [color]="'#80bfff'" [title]="'Watson Tone Analyzer'" [description]="'How to integrate Watson tone analyzer in a chatbot'" [buttonName]="'Open'" [urlPath]="'https://github.com/ibm-cloud-architecture/refarch-cognitive-analytics/blob/master/docs/w-tone-analyzer.md'"></app-tile>

    <app-tile id="reactive" [color]="'#80bfff'" [title]="'Reactive'" [description]="'Reactive application...'" [buttonName]="'Open'" [urlMdPath]="'assets/docs/tutorials/reactive.md'"></app-tile>

    <app-tile id="mq" [color]="'#80bfff'" [title]="'MQ lift and shift'" [description]="'Implement MQ consumer and producer and lift to IBM Cloud'" [buttonName]="'Open'" [urlPath]="'https://github.com/ibm-cloud-architecture/refarch-mq-messaging'"></app-tile>

</div>
